@page
@model PS2.Pages.BmiCalculator.ResultModel
@{
    Model.person = Newtonsoft.Json.JsonConvert.DeserializeObject<PS2.Models.Person>((string)TempData["tempPerson"]);
    if((string)TempData["tempHeightUnit"] == "1")
    {
        Model.result = Math.Round(Model.person.Weight / ((Model.person.Height / 100) * (Model.person.Height / 100)), 2);
    }
    else
    {
        Model.result = Math.Round((Model.person.Weight / (Model.person.Height * Model.person.Height)), 2);
    }
}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="border border-primary rounded">
                <div class="justify-content-center">
                    <div class="text-center">
                        <h1>Twój wynik to:</h1>
                        @{
                            if (Model.result > 25 || Model.result < 18.5)
                            {
                                <h2 class="text-danger">@Model.result</h2>
                            }
                            else
                            {
                                <h2 class="text-success">@Model.result</h2>
                            }
                        }

                    </div>
                    <div class="text-justify col-12 text-dark">
                        <h3>Podane dane:</h3>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="person.Name"><b>Imię:</b></label>
                            </div>
                            <div class="col-3">
                                @Model.person.Name
                            </div>
                        </div>

                        @{
                            if (Model.person.Email != null)
                            {
                                <div class="row text-dark">
                                    <div class="col-3">
                                        <label asp-for="person.Email"><b>E-mail:</b></label>
                                    </div>
                                    <div class="col-3">
                                        @Model.person.Email
                                    </div>
                                </div>
                            }
                        }

                        <div class="row text-dark">
                            <div class="col-3">
                                <label asp-for="person.Height"><b>Wzrost:</b></label>
                            </div>
                            <div class="col-3">
                                @Model.person.Height
                            </div>
                        </div>

                        <div class="row text-dark">
                            <div class="col-3">
                                <label asp-for="person.Weight"><b>Waga:</b></label>
                            </div>
                            <div class="col-3">
                                @Model.person.Weight
                            </div>
                        </div>

                        @{
                            if (Model.person.Age != null)
                            {
                                <div class="row text-dark">
                                    <div class="col-3">
                                        <label asp-for="person.Age"><b>Wiek:</b></label>
                                    </div>
                                    <div class="col-3">
                                        @Model.person.Age
                                    </div>
                                </div>
                            }
                        }

                        <div class="row text-dark">
                            <div class="col-3">
                                <label asp-for="person.Gender"><b>Płeć:</b></label>
                            </div>
                            <div class="col-3">
                                @Model.person.Gender
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>